h1{
    color:black;
    border-style: solid;
    border-color: black;
    background-color: rgb(27, 179, 128);
}
p{
color: rgb(255, 0, 0);
column-fill: inherit;
}
img{
    background-size: auto;
    border-radius: 15%;
    border-style: solid;
    border-color: black;

}
