h1{
    color:black;
    border-style: solid;
    border-color: black;
    background-color: aquamarine;
}
p{
color: cyan;
column-fill: inherit;
}
img{
    background-size: auto;
    border-radius: 10%;
    border-style: solid;
    border-color: green;

}
